html,
body {
  padding: 22px 0;
  font-family: Roboto, Ubuntu, Arial;
  margin: 0;
  background-color: #f0e8e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 420px) {
  html,
  body {
    padding: 0;
  }
}
